*{
    padding: 0;
    margin: 0;
    font-family: "Roboto";
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    background-color: white;
    --margin-main: 20px;
}
.nav{
    height: 60px;
    width: 100%;
    border: 2px solid rgb(19, 19, 19);
}
.eatoptions{
    /* width: 100vw; */
    height: 50px;
    border: 1px solid rgb(220, 220, 220);
    margin: var(--margin-main);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}
.eatoptions .eatoption1{
    border-right: 1px solid rgb(220, 220, 220);
    display: flex;
    flex-direction: column;
    width: 33.33%;
    background-color: #2e2e2e;
    height: 100%;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.option1name{
    font-size: small;
    font-weight: 600;

}

.option1detail{
    font-size: x-small;

}
.optionname{
    font-size: small;
    font-weight: 600;
}
.optiondetail{
    font-size: x-small;

}
.eatoptions .eatoption2{
    border-right: 0.1px solid rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    width: 33.33%;
    background-color: #fafafa;
    align-items: center;
    justify-content: center;
    color: rgb(102, 102, 102);

}
.eatoptions .eatoption3{
    border-right: 0.1px solid rgb(240, 240, 240);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 33.34%;
     background-color: #fafafa;
     align-items: center;
    justify-content: center;
    color: rgb(102, 102, 102);

}
.question1{
    /* border: 2px solid black; */
    /* margin-top: 5px; */
    margin-right: 10px;
    margin-left: var(--margin-main);
    font-weight: bold;
    font-size: large;
    color: #2e2e2e;
}

.answer1{
    display: flex;
    flex-direction: row;
    /* border: 2px solid black; */
    margin-left: var(--margin-main);
    margin-right: var(--margin-main);
    margin-top: 10px;

    width: calc(100% - var(--margin-main));
    overflow-x: scroll;
    scrollbar-width: none;
    align-items: center;
    justify-content: space-evenly ;
}
.optionimage{
    width: 85px;
}
.Qoptionname{
    font-size: x-small;
    font-weight: bold;
    text-align: center;
    color: rgb(102, 102, 102);
}
.gap{
    background-color: rgb(241, 241, 241);
    width: 100%;
    height: 7px;
    margin-top: 20px;
}
.back1{
    height: 530px;
    background: #FFFBF4;
background: linear-gradient(180deg, rgba(255, 251, 244, 1) 0%, rgba(255, 224, 163, 1) 50%, rgba(255, 251, 244, 1) 100%);
display: flex;
flex-direction: column;
align-items: center;
}
#crownphoto{
    width: 200px;
}
.back1text{
    background: linear-gradient(90deg, rgb(221, 172, 63), rgb(133, 83, 34));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: x-large;
  font-weight: bold;
  margin-top: 10px;
}
.location{
    margin-top: 12px;
    display: flex;
    height: 25px;
    /* border: 2px solid brown; */
    width: 100%;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgb(255, 244, 221) 0%, rgb(255, 230, 183) 50%, rgb(255, 244, 221) 100%);
    color: #7f5300;
}
.bestsellers{
    border: 2px solid black;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    align-items: center;
    gap: 40px;
    padding: 20px;

}
.bestselleroptions{
    position: relative;
    width: 350px;
    height: 350px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.bestsellerimages{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    
    
    
}
.bestsellerdiscription{
    position: absolute;
    z-index: 2;
    width: 100%;
    /* top: 0; */
    padding-bottom: 20px;
    /* padding-left: 10px; */
    border-radius: 15px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%,  rgba(0, 0, 0, 0.871) 100%);
}
.customize{
    /* text-align: end; */
    padding: 5px 10px;
    background: linear-gradient(90deg, rgb(131, 126, 110) 0%, rgb(40, 35, 23) 100%);
    width: 100px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
   
    
    

}
.customizebutton{
    display: flex;
    justify-content: end;
}
.name{
    padding-left: 10px;
    color: white;
    font-weight: 1000;
    font-size: larger;

}
.pizzadiscript{
    padding-left: 10px;
    color: white;
    font-size: small;
    padding-bottom: 10px;
}
.detaileddiscription{
    padding-top: 10px;
    border-top: 1px solid white;
    display: flex;
    align-items: center;
    /* filter: blur(2px); */
}
